# Port for Express server
PORT=3000

# MongoDB Connection String (Atlas Free Tier)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/whatsapp_scheduler?retryWrites=true&w=majority
